/target

node_modules

.DS_Store

*.part

onshape/

www/pkg/

/pkg/
*.png

/OpenCatEsp32/build/
/OpenCatEsp32/bootloader_symbols.txt

rom/

www/src/assets/src/
www/src/assets/OpenCatEsp32.ino
www/src/assets/OpenCatEsp32.ino.bin
www/src/assets/symbols.txt
www/static/OpenCatEsp32/build/

.zed
