#threejs {
    height: 100vh;
    flex: 1;
    position: relative;
    min-width: 0;
}

.wasd-container {
    position: absolute;
    bottom: 50px;
    left: 10px;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 5;
    transition: bottom 0.2s;
}

.wasd-container.expanded {
    bottom: 280px;
}

.space-key-container {
    left: 160px;
}

.space-key-container.expanded {
    bottom: 280px;
}

.wasd-row {
    display: flex;
    gap: 5px;
}

.wasd-button {
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background 0.2s;
    background-color: rgba(14, 99, 156, 0.2);
    border: 2px solid rgba(14, 99, 156, 0.5);
}

.wasd-button:hover {
    background-color: rgba(14, 99, 156, 1);
}

.wasd-stand {
    width: 100px;
}
